@import "../../styles/variable";

.mainBlock{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.burger{
    background-color: $dark-black;
}

.player {
    grid-column: 1/3;
    text-align: center;
}