{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
    "project": true
    },
    "root": true,
    "rules": {
    "prettier/prettier": "error"
    }
}